<div class="webtool-progress-bar">
  <div class="webtool-progress-bar__wrapper">
    <div class="webtool-progress-bar__grid-row">
      <div class="webtool-progress-bar__grid-col">
        {% for line in lines %}
          <div class="webtool-progress-bar__line">
            <a href="#" class="webtool-progress-bar__label">
              {{ line.label }}
            </a>
            <div class="webtool-progress-bar__steps">
              {% for step in line.steps %}
                <div class="webtool-progress-bar__step webtool-progress-bar__step-{{ step.state }}">
                  <a href="{{ step.url is defined ? step.url : '#' }}" class="webtool-progress-bar__step--{{ line.label|lower }}-{{ step.label|lower }}">
                    {{ step.label_prefix ? '<span class="sr-desktop">' ~ step.label_prefix ~ ' </span>' : "" }}{{ step.label }}{{ step.description ? '<span class="sr-desktop">: ' ~ step.description ~ '</span>' : "" }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
