<div class="chart-block">
  <h3 class="chart-block__name">{{ name }}</h3>
  <div class="chart-block__image">
    <img src={{ image.url }} alt="{{ image.alt }}" />
  </div>
  <div class="chart-block__download-label">{{ downloadThisChart }}</div>
  <div class="chart-block__download-buttons">
    {% for link in links %}
      <a href="{{ link.url }}" target="_blank" class="button button--primary">{{ link.label }}</a>
    {% endfor %}
  </div>
</div>
