<div class="webtool-progress-bar">
  {% for lineNum, line in lines %}
    <div class="webtool-progress-bar__line {{ lineNum == 0 ? 'webtool-progress-bar__line-opened' : '' }}">
      <div class="webtool-progress-bar__label">
        {{ line.label }}
      </div>
      <div class="webtool-progress-bar__steps">
        {% for step in line.steps %}
          <div class="webtool-progress-bar__step webtool-progress-bar__step-{{ step.state }}">
            <a href="{{ step.url }}" class="webtool-progress-bar__step--{{ line.label|lower }}-{{ step.label|lower }}" onClick="{{ step.callback ? '(' ~ step.callback ~ ')(); return false;' : '' }}">{{ step.label }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
