<nav id="{{ id }}" class="navigation" aria-label="{{ label }}">
  <div class="navigation__background-blur"></div>
  <div class="navigation__container">
    <div class="navigation__row">
      {% if links.length > 0 %}
        <ul class="navigation__menu navigation__menu--level-1">
          <li class="navigation__link navigation__link--home">
            <a href="{{ homeLink }}" aria-label="{{ homeLabel }}">
              <svg width="36" height="38" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path d="M36 19.013c0 9.941-8.059 18-18 18s-18-8.059-18-18 8.059-18 18-18 18 8.059 18 18"
                        fill="#FFF"/>
                  <path d="m18 8.013-9 6.585v11.415h6.075v-4.61c0-1.58 1.304-2.853 2.925-2.853 1.62 0 2.925 1.272 2.925 2.853v4.61H27V14.598l-9-6.585z"
                        fill="#2A0247" fill-rule="nonzero"/>
                </g>
              </svg>
            </a>
          </li>
          {% for linkObj in links %}
            <li class="navigation__link{{ active ? ' navigation__link--active' : '' }}">
              <a href="{{ linkObj.link.href ? linkObj.link.href : '#' }}">{{ linkObj.link.label }}<span class="navigation__link__arrow"></span></a>
              {% if linkObj.submenu %}
                <div class="navigation__submenu">
                  {% for group in linkObj.submenu %}
                    <div class="navigation__group">
                      <p class="navigation__group-title">{{ group.title }}</p>
                      <ul class="navigation__menu navigation__menu--level-2">
                        {% for submenuLinkObj in group.links %}
                          <li class="navigation__link{{ active ? ' navigation__link--active' : '' }}">
                            <a href="{{ submenuLinkObj.link.href ? submenuLinkObj.link.href : '#' }}">{{ submenuLinkObj.link.label }}</a>
                          </li>
                        {% endfor %}
                        {% if group.readMoreLink %}
                        <li class="navigation__link navigation__link--read-more">
                          <a href="{{ group.readMoreLink }}"><span class="navigation__link__read-more-arrow"></span>{{ group.readMoreLabel }}</a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>