<div class="subject-listing">
  {% if title %}
    <h2 class="subject-listing__title" id="{{ title|replace({" ": "-"})|lower }}">{{ title }}</h2>
  {% endif %}
  {% if description %}
    <p class="subject-listing__description">{{ description }}</p>
  {% endif %}
  <h3 class="subject-listing__section-header">{{ section_header }}</h3>
  {% if links|length > 0 %}
    <ul class="subject-listing__link-list">
      {% for link in links %}
        <li class="subject-listing__link-list__item">
          <a href="{{ link.url }}"
             data-fsa-at="in-this-section-{{ link.label|striptags|replace({" ": "-"})|lower }}">{{ link.label }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>