<div class="cookie-banner" >
  <p class="cookie-banner__message">{{ text|raw }} <a href="{{ find_out_more_link }}" class="cookie-banner__find-out-more">{{ find_out_more_text }}</a></p>
  <div class="cookie-banner__actions">
    <a href="{{ manage_link }}" class="cookie-banner__manage">{{ manage_text }}</a>
    <button class="cookie-banner__accept" data-cc-event="click:dismiss">{{ accept_button_label }}</button>
  </div>
</div>