{% set spaceless_name = name|replace({" ": ""})|lower %}
{% set id = "checkbox__description--" ~ spaceless_name %}
<fieldset id="{{ fieldset_id is defined ? fieldset_id : ""}}" class="checkbox{{ error ? " checkbox--error" : "" }}" aria-describedby={{ description is defined ? id : "" }}>
  {% if title is defined %}
    <legend class="checkbox__legend">
      {{ title }}<span class="checkbox__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
    </legend>
  {% endif %}
  {% if description is defined and description is not empty %}
    <p class="checkbox__description" id={{ id }}>{{ description }}</p>
  {% endif %}
  <div class="checkbox__fields">
    {% for field in fields %}
      <div class="checkbox__field">
        <input class="checkbox__input form-checkbox" type="checkbox" name="{{ spaceless_name }}[{{ field.value }}]" value="{{ field.value }}" id="{{ field.id }}" {{ required ? "required" : "" }} {{ field.checked ? "checked" : "" }}>
        <label class="checkbox__label" for="{{ field.id }}">
          {{ field.label|raw }} 
          <span class="checkbox__label-description">{{ field.description }}</span>
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>