<div class="select">
  <label class="select__label select__label--hidden" for="{{ label|trim|replace({' ': '-'})|lower }}">
    {{ accessibleLabel }}
  </label>
  <span class="select__label" aria-hidden="true">{{ label }}</span>
  <select class="select__button" name="{{ label }}" id="{{ id }}">
    <option value="none" disabled selected></option>
    {% for option in options %}
      <option value="{{ loop.index - 1 }}" data-option-value="{{ option|trim|replace({' ': '-'})|lower }}">{{ option }}</option>
    {% endfor %}
  </select>
</div>