<nav class="help-secondary-menu" aria-labelledby="help-secondary-menu__heading">
  <div class="help-secondary-menu__container">
    <div class="help-secondary-menu__row">
      <div class="help-secondary-menu__grid-wrapper">
        <h2 class="visually-hidden" id="help-secondary-menu__heading">{{ heading }}</h2>
        <ul class="help-secondary-menu__menu">
          {% for menu in links %}
            <li class="help-secondary-menu__menu-item help-secondary-menu__menu-item--{{ menu.link.active ? "active" : "" }}">
              <a href="{{ menu.link.href }}" class="help-secondary-menu__category help-secondary-menu__category--{{ loop.index }}">{{ menu.link.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
