<section class="feedback" aria-label="{{ section_title }}" aria-live="polite">
  <div class="feedback__grid-container">
    <div class="feedback__grid-row">
      <div class="feedback__grid-wrapper">

        <div class="feedback__questions">
          <h2 class="feedback__heading">{{ question }}</h2>
          <p class="feedback__options">
            <button class="feedback__yes">{{ yes }}
              <span class="visually-hidden">{{ useful }}</span>
            </button>
            <span class="feedback__or">{{ or }}</span>
            <button class="feedback__no" aria-expanded="false" aria-controls="feedback-form">{{ no }}
              <span class="visually-hidden">{{ not_useful }}</span>
            </button>
          </p>
          <button class="feedback__report-button" aria-expanded="false" aria-controls="feedback-form">
            {{ report_question }}
          </button>
        </div>

        <div class="feedback__thank" role="status">{{ thank_you }}</div>

        <div class="feedback__form"> 
          
        </div>
      </div>
    </div>
  </div>
</section>
