<div class='search-no-results'>
  <div class='search-no-results__content'>
    <p class='search-no-results__title'>{{ title }}</p>
    <p class='search-no-results__text'>{{ removeFiltersText }} <a href={{ removeFiltersLink }}>{{ removeFiltersLinkText}}</a>.</p>
    <p class='search-no-results__text'>{{ foodHygieneRatingText }} <a href={{ foodHygieneRatingLink }}>{{ foodHygieneRatingLinkText }}</a>?</p>
  </div>
</div>