<div class='search-no-results'>
  <div class='search-no-results__content'>
    <p class='search-no-results__title'>{{ title }}</p>
    <p class='search-no-results__text'>{{ remove_filters_text }} <a href={{ remove_filters_link }}>{{ remove_filters_link_text}}</a>.</p>
    <p class='search-no-results__text'>{{ food_hygiene_rating_text }} <a href={{ food_hygiene_rating_link }}>{{ food_hygiene_rating_link_text }}</a>?</p>
  </div>
</div>