{% block field_layout %}
  {% if field.type == 'dropdown' %}
    <div class="ratings-search-box__dropdown{{ field.hide_label ? " ratings-search-box__dropdown--hide-label" : "" }}">
      {% include '@components/components/form/Dropdown/dropdown.html.twig' with {
        title: field.title,
        options: field.options,
        default: field.default,
        title: field.title,
        name: field.name,
        id: field.id,
      } %}
    </div>
  {% elseif field.type == 'fieldset' %}
    <fieldset>
      <legend>{{ field.legend }}</legend>
    {% for fieldset_field in field.fields %}
      {% if fieldset_field.type == 'dropdown' %}
        <div class="ratings-search-box__dropdown{{ fieldset_field.hide_label ? " ratings-search-box__dropdown--hide-label" : "" }}">
        {% include '@components/components/form/Dropdown/dropdown.html.twig' with {
          title: fieldset_field.title,
          options: fieldset_field.options,
          default: fieldset_field.default,
          title: fieldset_field.title,
          name: fieldset_field.name,
          id: fieldset_field.id,
        } %}
        </div>
      {% elseif fieldset_field.type == 'single-radio' %}
        <div class="ratings-search-box__single-radio">
          <div class="radio__field">
            <input class="radio__input" type="radio" name="{{ fieldset_field.name }}" value="{{ fieldset_field.value }}" id="{{ fieldset_field.id }}" {{ fieldset_field.default == fieldset_field.value ? "checked" : "" }}>
            <label class="radio__label" for="{{ fieldset_field.id }}">{{ fieldset_field.label }}</label>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </fieldset>
  {% endif %}
{% endblock %}

<form class="ratings-search-box">
  <div class="ratings-search-box__title">
    {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
      title: title_prefix ? title_prefix ~ " " ~ area ~ " " ~ title_suffix : title,
      tag: 'h1',
      underlined: true,
      subtitle: subtitle_prefix ? subtitle_prefix ~ " " ~ council_name : '',
    } %}
  </div>
  {% if local_authority_section is not empty %}
  <div class="ratings-search-box__local-authority-section">
    {% include '@components/components/fhrs/LocalAuthority/localAuthority.html.twig' with {
      website_title: local_authority_section.website_title,
      website_url: local_authority_section.website_url,
      email_title: local_authority_section.email_title,
      email_address: local_authority_section.email_address,
      logo_svg: local_authority_section.logo_svg,
    } %}
  {% endif %}
  <div class="ratings-search-box__search-inputs">
    <div class="ratings-search-box__business-name ratings-search-box__search-inputs__left">
      {% include '@components/components/form/InputField/inputField.html.twig' with {
        id: 'business-name-search',
        name: 'business-name-search',
        label: business_name_label,
        type: 'text',
        value: business_name_value,
      } %}
    </div>
    <div class="ratings-search-box__location-search ratings-search-box__search-inputs__right">
      {% include '@components/components/form/InputField/inputField.html.twig' with {
        id: 'address-search',
        name: 'address-search',
        label: address_search_label,
        type: 'text',
        value: address_search_value,
      } %}
    </div>
  </div>
  <div class="ratings-search-box__toggle-area">
    <div class="ratings-search-box__toggle-area__left">
      <div class="ratings-search-box__location-toggle" data-blocked-location="{{ blocked_location_label }}" data-use-location="{{ location_label }}">
        {% include '@components/components/form/ToggleButton/toggleButton.html.twig' with {
          id: 'location-toggle',
          label: location_label,
        } %}
      </div>
{#      Map related - uncomment when FSA confirm whether it should be added to search #}
{#      <div class="ratings-search-box__map-toggle" data-hide-button="{{ hide_map_results_label }}" data-show-button="{{ search_map_results_label }}">#}
{#        {% include '@components/components/form/ToggleButton/toggleButton.html.twig' with {#}
{#          id: 'map-toggle',#}
{#          label: search_map_results_label,#}
{#        } %}#}
{#      </div>#}
    </div>
    <div class="ratings-search-box__toggle-area__right">
      <a class="ratings-search-box__la-link" href="{{ local_authority_link.url }}">{{ local_authority_link.title }}</a>
      {% if search_all_data_link.url and search_all_data_link.title %}
        <a class="ratings-search-box__all-data-link" href="{{ search_all_data_link.url }}">{{ search_all_data_link.title }}</a>
      {% endif %}
      <button type='button' id="ratings-search-box__more-search-options-button" class="ratings-search-box__more-search-options" data-fewer-options-label="{{ fewer_options_label }}" aria-expanded="false">
        <span class="ratings-search-box__more-search-options__label">{{ more_options_label }}</span>
        <span class="ratings-search-box__more-search-options__arrow"></span>
      </button>
    </div>
  </div>
  <div class="ratings-search-box__additional-options" role="region" aria-labelledby="ratings-search-box__more-search-options-button">
    <div class="ratings-search-box__additional-options__left">
      {% for field in left %}
        {{ block('field_layout') }}
      {% endfor %}
    </div>
    <div class="ratings-search-box__additional-options__right">
      {% for field in right %}
        {{ block('field_layout') }}
      {% endfor %}
    </div>
  </div>
  <input class="ratings-search-box__location" type="hidden" value="">
  <div class="ratings-search-box__submit">
    {% include '@components/components/general/Button/button.html.twig' with {
      type: 'primary',
      label: submit_button_label,
      element: submit_button_type ? submit_button_type : 'input',
      url: submit_button_url ? submit_button_url: '',
    } %}
  </div>
{#  Map related - uncomment when FSA confirm whether it should be added to search #}
{#  <div class="ratings-search-box__map"></div>#}
</form>
