<div class="latest-teaser">
  <div class="latest-teaser__container">
    {% if title or description or teaser_link %}
    <div class="latest-teaser__text-row">
      <div class="latest-teaser__text-wrapper">
        {% if title %}
          <h2 class="latest-teaser__title">{{ title }}</h2>
        {% endif %}
        {% if description %}
          <div class="latest-teaser__description">{{ description|raw }}</div>
        {% endif %}
        {% if teaser_link_url %}
          <div class="latest-teaser__link-wrapper">
            <a href="{{ teaser_link_url }}" class="latest-teaser__link">{{ teaser_link_title }}</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="latest-teaser__cards-row">
      {% for card in cards %}
        <div class="latest-teaser__card">
          <div class="latest-teaser__card-wrapper latest-teaser__card-wrapper--{{ card.type_class }}">
            <h3 class="latest-teaser__type">{{ card.type }}</h3>
            <div class="latest-teaser__anchor-wrapper">
              <a href="{{ card.url }}" class="latest-teaser__anchor">{{ card.title }}</a>
            </div>
            <span class="latest-teaser__date">{{ card.date }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if prev_button_label %}
      <div class="latest-teaser__button-wrapper">
        <a href="{{ button_url }}" class="button button--primary">
        {{ prev_button_label }}
        </a>
      </div>
    {% endif %}

  </div>
</div>
