<article class='listing-item'>
  <div class='listing-item__content'>
    <div class='listing-item__type'>{{ type }}</div>
    <h3 class='listing-item__title'>
      <a href={{ url }} data-fsa-at="result-{{ index }}-heading">{{ title }}</a>
    </h3>
    <p class='listing-item__description'>{{ description }}</p>
    <span class='listing-item__date'>{{ date }}</span>
  </div>
</article>