{% set target_is_defined = target is defined and target is not empty %}

{% if element == 'link' %}
  <a href="{{ url }}" class="button button--{{ type }}" {{ target_is_defined ? 'target="' ~ target ~ '"' : '' }} {{ download ? ' download' : '' }}>
    {{ label }}
  </a>
{% elseif element == 'button' %}
  <button class="button button--event button--{{ type }}">
    {{ label }}
  </button>

{% elseif element == 'input' %}
  <input type="submit" class="button button--event button--{{ type }}" name="{{ label|striptags|replace({" ": "-"})|lower }}" value="{{ label }}">
{% endif %}
