{% if is_anchor %}
  <a href={{ url }} class="button button--{{ type }}">
    {{ label }}
  </a>
{% elseif is_button %}
  <button class="button button--event button--{{ type }}">
    {{ label }}
  </button>

  {% elseif is_input %}

  <input type="submit" class="button button--event button--{{ type }}" value={{ label }}>
 
  {% endif %}
