{% if element == 'link' %}
  <a href={{ url }} class="button button--{{ type }}">
    {{ label }}
  </a>
{% elseif element == 'button' %}
  <button class="button button--event button--{{ type }}">
    {{ label }}
  </button>

{% elseif element == 'input' %}
  <input type="submit" class="button button--event button--{{ type }}" value={{ label }}>
{% endif %}
