{% set target_is_defined = target is defined and target is not empty %}
{% if not target_is_defined %}
  {% set target = "_self" %}
{% endif %}

{% if element == 'link' %}
  <a href="{{ url }}" class="button button--{{ type }}" target="{{ target }}">
    {{ label }}
  </a>
{% elseif element == 'button' %}
  <button class="button button--event button--{{ type }}">
    {{ label }}
  </button>

{% elseif element == 'input' %}
  <input type="submit" class="button button--event button--{{ type }}" value="{{ label }}">
{% endif %}
