{% set spaceless_name = name|replace({" ": ""})|lower %}
{% set id = spaceless_name %}
<div id="{{ fieldset_id is defined ? fieldset_id : ""}}" class="dropdown{{ error ? " dropdown--error" : "" }}{{ classes ? ' ' ~ classes : ''}}" aria-describedby="{{ description is defined ? id : "" }}">
  {% if title is defined %}
    <label for="{{ id }}" class="dropdown__label">
      {{ title }}<span class="dropdown__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
    </label>
  {% endif %}
  {% if description is defined and description is not empty %}
    <p class="dropdown__description">{{ description }}</p>
  {% endif %}
  <div class="dropdown__field">
    {% if states %}
      <select name="{{ name }}" id="{{ id }}" class="dropdown__select" data-drupal-states="{{ states }}">
    {% else %}
      <select name="{{ name }}" id="{{ id }}" class="dropdown__select">
    {% endif %}
      {% for option in options %}
        <option value="{{ option.value }}" class="dropdown__option" {{ option.value == default ? "selected" : "" }}>{{ option.text }}</option>
      {% endfor %}
    </select>
  </div>
</div>