{% set spaceless_name = name|replace({" ": ""})|lower %}
{% set id = spaceless_name %}
<div {{ fieldset_id is defined ? 'id=' ~ fieldset_id : "" }}
        class="dropdown{{ error ? " dropdown--error" : "" }}{{ classes ? ' ' ~ classes : '' }}"
        {{ description is defined ? "aria-describedby=" ~ id : '' }}>
  {% if title is defined %}
    <div class="{{ tooltip is defined ? "label-with-tooltip" : "" }}">
      <label for="{{ id }}" class="dropdown__label">
        {{ title }}<span class="dropdown__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
      </label>
      {% if tooltip is defined %}
        {% include "@components/components/form/Tooltip/tooltip.html.twig" with {
          open: tooltip.open,
          close: tooltip.close,
          message: tooltip.message,
          guidance_popup: guidance_popup,
        } %}
      {% endif %}
    </div>
  {% endif %}
  {% if description is defined and description is not empty %}
    <p class="dropdown__description">{{ description }}</p>
  {% endif %}
  <div class="dropdown__field">
    {% if states %}
    <select name="{{ name }}" id="{{ id }}" class="dropdown__select" data-drupal-states="{{ states }}">
      {% else %}
      <select name="{{ name }}" id="{{ id }}" class="dropdown__select" data-default-value="{{ default ? default : "" }}">
        {% endif %}
        {% for option in options %}
          <option value="{{ option.value }}" data-value="{{ option.value }}"
                  class="dropdown__option" {{ option.value == default ? "selected" : "" }}>{{ option.text }}</option>
        {% endfor %}
      </select>
  </div>
</div>