<form class="search-bar" action="{{ search_link }}">
  <label class="search-bar__label" for="search">{{ search_text }}</label>
  <input class="search-bar__box{{ defaultValue != "" ? " search-bar__box--has-content" : "" }}" defaultValue="{{ defaultValue }}" name="keywords" type="search" id="search" data-fsa-at="search-input">
  <button class="search-bar__submit" aria-label="search" data-fsa-at="search-submit">
    <span class="search-bar__span visually-hidden">{{ search_text }}</span>
  </button>
</form>
