{% set pageIndexPrev =  (max_visible_pages / 2)|round %}
{% set pageIndexNext  = (max_visible_pages / 2)|round %}

<nav class="pagination" role="navigation" aria-label="{{ pagination_type }} pagination">
  <ul class="pagination__list">
    <li>
      <ul class="pagination__item-group pagination__back{{ current_page == 1 ? ' pagination__item-group--hidden' : '' }}" {{ current_page == 1 ? 'aria-hidden="true"' : '' }}>
        <li class="pagination__item pagination__item--first">
          <a data-page="1" href="#" data-fsa-at="pagination-first">{{ first_label }}</a>
        </li>
        <li class="pagination__item pagination__item--previous">
          <a data-page="{{ current_page - 1 }}" href="#" data-fsa-at="pagination-prev">{{ previous_label }}</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="pagination__item-group pagination__numbered">
        {% if current_page == 1 %}
          <li class="pagination__item pagination__item--numbered">
            <a data-page="1" href="#" aria-label="Current page, page 1" aria-current="page" aria-disabled="true" data-fsa-at="pagination-page-1">1</a>
          </li>
        {% else %}
          <li class="pagination__item pagination__item--numbered">
            <a data-page="1" href="#" aria-label="Go to page 1" data-fsa-at="pagination-page-1">1</a>
          </li>
        {% endif %}
        {% if current_page > max_visible_pages %}
          <li class="pagination__item pagination__item--numbered">
            <a data-page="{{ current_page - max_visible_pages }}" href="#" aria-label="Load previous {{ max_visible_pages }} pages" data-fsa-at="pagination-load-previous">...</a>
          </li>
        {% endif %}
        {% for page in range (current_page - pageIndexPrev, current_page + pageIndexNext) %}
          {% if page > 1 and page < total_pages %}
            {% if page == current_page %}
              <li class="pagination__item pagination__item--numbered">
                <a data-page="{{ page }}" href="#" aria-label="Current page, page {{ page }}" aria-current="page" aria-disabled="true" data-fsa-at="pagination-page-{{ page }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="pagination__item pagination__item--numbered">
                <a data-page="{{ page }}" href="#" aria-label="Go to page {{ page }}" data-fsa-at="pagination-page-{{ page }}">{{ page }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if current_page < (total_pages - max_visible_pages) %}
          <li class="pagination__item pagination__item--numbered">
            <a aria-label="Load next {{ max_visible_pages }} pages" data-page="{{ current_page + max_visible_pages }} " href="#" data-fsa-at="pagination-load-next">...</a>
          </li>
        {% endif %}
        {% if total_pages > 1 %}
          {% if current_page == total_pages %}
            <li class="pagination__item pagination__item--numbered">
              <a data-page="{{ total_pages }}" href="#" aria-label="Current page, page {{ total_pages }}" aria-current="page" aria-disabled="true" data-fsa-at="pagination-page-{{ total_pages }}">{{ total_pages }}</a>
            </li>
          {% else %}
            <li class="pagination__item pagination__item--numbered">
              <a data-page="{{ total_pages }}" href="#" aria-label="Go to page {{ total_pages }}" data-fsa-at="pagination-page-{{ total_pages }}">{{ total_pages }}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </li>
    <li>
      <ul class="pagination__item-group pagination__forward{{ current_page == total_pages ? ' pagination__item-group--hidden' : '' }}" {{ current_page == totalPage ? 'aria-hidden="true"' : '' }}>
        <li class="pagination__item pagination__item--next">
          <a data-page="{{ current_page + 1 }}" href="#" data-fsa-at="pagination-next">{{ next_label }}</a>
        </li>
        <li class="pagination__item pagination__item--last">
          <a data-page="{{ total_pages }}" href="#" data-fsa-at="pagination-last">{{ last_label }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
