<div class="business-hero">
  <div class="business-hero__header">
    <h1 class="business-hero__title">{{ name }}</h1>
  </div>
  {% if rating %}
  <div class="business-hero__content">
    <div class="business-hero__left">
      {% include "@components/components/fhrs/Badge/badge.html.twig" with {
        class_name: "business-hero",
        rating: rating,
        welsh: welsh,
        version: 3,
      } %}
      <div class="business-hero__link-wrapper">
        <a href="{{ back_link }}" class="business-hero__link business-hero__link--back">{{ back_to_search_results }}</a>
      </div>
      <div class="business-hero__link-wrapper">
        <a href="{{ search_local_link }}" class="business-hero__link business-hero__link--forward">{{ search_this_local_authority_area }}</a>
      </div>
      <div class="business-hero__link-wrapper">
        <a href="{{ search_all_link }}" class="business-hero__link business-hero__link--forward">{{ search_all_data }}</a>
      </div>
    </div>
    <div class="business-hero__right">
      <div class="business-hero__block">
        <h2 class="business-hero__subtitle">{{ address_title }}</h2>
        <div class="business-hero__text">{{ address_content|raw }}</div>
      </div>
      <div class="business-hero__block">
        <h2 class="business-hero__subtitle">{{ business_type_title }}</h2>
        <div class="business-hero__text">{{ business_type_content }}</div>
      </div>
      <div class="business-hero__block">
        <h2 class="business-hero__subtitle">{{ date_title }}</h2>
        <div class="business-hero__text">{{ date_content }}</div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
