<p class="showing" aria-live="polite" role="region">{{ showing }}
  <span class="showing--bold">{{ displayed_results }}</span>
  {{ of }}
  <span class="showing--bold">{{ total_results }} {{ results }}</span>
</p>
