{% set swatches = {
  primary: {
    'fsa-primary_dark-green': '#007c75',
    'fsa-primary_mid-green': '#6cb33f',
    'fsa-primary_light-green': '#a9c47f',
    'fsa-primary_dark-grey': '#53565a',
    'fsa__online-grey': '#f0f3f5',
    'fsa__border': '#dee2e5',
    'fsa-primary_black': '#000000',
    'fsa-primary_white': '#ffffff',
    'fsa__tint': '#fafcfd',
  },
  secondary: {
    'fsa-secondary_mid-red': '#e31837',
    'fsa-secondary_orange': '#f15d22',
    'fsa-secondary_mid-yellow': '#fdb913',
    'fsa-secondary_mid-purple': '#49176d',
    'fsa-secondary_light-purple': '#9f218b',
    'fsa-tertiary_dark-blue': '#165c7d',
  },
  tertiary: {
    'fsa-tertiary_dark-red': '#b04a5a',
    'fsa-tertiary_light-red': '#ef3340',
    'fsa-tertiary_light-yellow': '#f1c400',
    'fsa-tertiary_teal': '#00b2a9',
    'fsa-tertiary_light-blue': '#8dc8e8',
    'fsa-tertiary_dark-purple': '#51284f',
    'fsa-secondary_mid-blue': '#007fb2',
    'fsa-tertiary_lime': '#cedc00',
    'fsa-tertiary_mauve': '#8b84d7',
  },
  hover: {
    'fsa-primary_dark-green': '#014b4c',
    'fsa-primary_mid-green': '#2a0247',
  }
} %}

<div class="swatches">
  <div class="swatches__container">
    <div class="swatches__section">
      <h1 class="swatches__title">Primary colours</h1>
      <div class="swatches__wrapper">
        {% for name, hex in swatches.primary %}
          <div class="swatches__card">
            <div class="swatches__example" style="background-color:{{ hex }}"></div>
            <div class="swatches__text-wrapper">
              <h2 class="swatches__colour-name">
                {{ name }}
              </h2>
              <div class="swatches__colour-hex">
                {{ hex }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swatches__section">
      <h1 class="swatches__title">Secondary colours</h1>
      <div class="swatches__wrapper">
        {% for name, hex in swatches.secondary %}
          <div class="swatches__card">
            <div class="swatches__example" style="background-color:{{ hex }}"></div>
            <div class="swatches__text-wrapper">
              <h2 class="swatches__colour-name">
                {{ name }}
              </h2>
              <div class="swatches__colour-hex">
                {{ hex }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swatches__section">
      <h1 class="swatches__title">Tertiary colours</h1>
      <div class="swatches__wrapper">
        {% for name, hex in swatches.tertiary %}
          <div class="swatches__card">
            <div class="swatches__example" style="background-color:{{ hex }}"></div>
            <div class="swatches__text-wrapper">
              <h2 class="swatches__colour-name">
                {{ name }}
              </h2>
              <div class="swatches__colour-hex">
                {{ hex }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swatches__section">
      <h1 class="swatches__title">Hover colours</h1>
      <div class="swatches__wrapper">
        {% for name, hex in swatches.hover %}
          <div class="swatches__card">
            <div class="swatches__example" style="background-color:{{ hex }}"></div>
            <div class="swatches__text-wrapper">
              <h2 class="swatches__colour-name">
                {{ name }}
              </h2>
              <div class="swatches__colour-hex">
                {{ hex }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
