<div class="input-field{{ error ? " input-field--error" : "" }}{{ states ? ' js-form-item js-form-item-' ~ name : ''}}">
  <label class="input-field__label{{ nested ? " input-field__nested" : "" }}" for="{{ id }}">{{ label }}
    <span class="input-field__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
  </label>
  {% if error %}
    <div class="input-field__error-message">{{ error_message }}</div>
  {% endif %}
  <div class="input-field__wrapper">
    {% if prefix %}
      <span class="input-field__prefix">{{ prefix }}</span>
    {% endif %}
    {% if value %}
      <input {{ required ? required : "" }} class="input-field__input" type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" aria-required="{{ required ? "true" : "false" }}" placeholder="{{ placeholder }}" {{ states ? "data-drupal-states=" ~ states : ""}} />
    {% else %}
      <input {{ required ? required : "" }} class="input-field__input" type="{{ type }}" id="{{ id }}" name="{{ name }}" aria-required="{{ required ? "true" : "false" }}" placeholder="{{ placeholder }}" {{ states ? "data-drupal-states=" ~ states : ""}} />
    {% endif %}
  </div>
  {% if caption %}
    <div class="input-field__caption">{{ caption }}</div>
  {% endif %}
</div>
