<div class="input-field {{ error ? "input-field--error" : "" }}">
    <label class="input-field__label" for="email-field">{{ label }}
       <span class="input-field__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
    </label>
    {% if error %}
    <div class="input-field__error-message">{{ errorMessage }}</div>
    {% endif %}
    <input required class="input-field__input" type="{{ type ? type : "text" }}" id="{{ name }}-field" name="{{ name }}" aria-required="true" value="{{ value }}" />
    <div class="input-field__caption">{{ caption }}</div>
</div>