<div class="header">
  <div class="header__top">
    <ul class="header__languages">
      <li class="header__language">
        <a href="{{ english_link }}" class="header__language-link">{{ english_label }}</a>
      </li>
      <li class="header__language">
        <a href="{{ welsh_link }}" class="header__language-link">{{ welsh_label }}</a>
      </li>
    </ul>
  </div>
  <div class="header__bottom">
    <a href="{{ logo_link }}" class="header__logo">
      <img class="header__logo-svg" aria-hidden="true" src={{ logo_svg }} alt="{{ logo_label }}">
    </a>
    <ul class="header__links">
      <ul class="header__links-list">
        <li class="header__links-item"><a href="{{ contact_link }}" class="header__contact">{{ contact_label }}</a></li>
        <li class="header__links-item"><a href="{{ report_link }}" class="header__report">{{ report_label }}</a></li>
      </ul>
      <li class="header__links-item"><a href="{{ ratings_link }}" class="header__ratings" target="_blank">{{ ratings_label }}</a></li>
    </ul>
    <div class="header__search-bar-wrapper">
      <div class="header__search-bar--full">{% include "../../search/SearchBar/searchBar.html.twig" %}</div>
      <a class="header__search-bar--icon">
        <img src="{{ search_svg }}" alt="{{ search_label }}" class="header__search-svg">
      </a>
    </div>
    <button class="header__menu" aria-expanded={{ expanded }} aria-controls="main-menu"></button>
  </div>
</div>
