<header class="header">
  <div class="header__grid-container">
    <div class="header__grid-row">
      <div class="header__wrapper">
        <div class="header__top">
          <nav class="header__languages header__languages--desktop" aria-label="Language switcher" aria-hidden="false">
            <ul class="header__languages-list">
              <li class="header__language">
                <a href="{{ english_link }}" class="header__language-link header__language-link--{{ english ? "selected" : "" }}">{{ english_label }}</a>
              </li>
              <li class="header__language">
                <a href="{{ welsh_link }}" class="header__language-link header__language-link--{{ not english ? "selected" : "" }}">{{ welsh_label }}</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__bottom">
          <div class="header__logo-wrapper">
            <a href="{{ logo_link }}" class="header__logo">
              <span class="header__logo-label visually-hidden">{{ logo_label }}</span>
              <div class="header__logo-svg header__logo-svg--{{ english ? "english" : "welsh" }}" aria-hidden="true"></div>
            </a>
          </div>
          <nav class="header__links header__links--desktop header__links--{{ english ? "english" : "welsh" }}" aria-label="Secondary Menu">
            <div class="header__links-wrapper">
              <div class="header__links-item">
                <a href="{{ contact_link }}" class="header__links-anchor header__links-anchor--contact">{{ contact_label }}</a>
              </div>
              <div class="header__links-item">
                <a href="{{ report_link }}" class="header__links-anchor header__links-anchor--report">{{ report_label }}</a>
              </div>
            </div>
            <div class="header__links-item header__links-item--right">
              <a href="{{ ratings_link }}" class="header__links-anchor header__links-anchor--ratings" target="_blank">{{ ratings_label }}</a>
            </div>
          </nav>
          {% if search_bar_visible %}
            <div class="header__search-bar-wrapper">
              <div class="header__search-bar header__search-bar--full">
                {% include "@components/components/search/SearchBar/searchBar.html.twig" with {
                headerText: 'Search',
                searchLink: search_link,
                searchText: search_label,
                searchValue: '',
              } %}
              </div>
              <a class="header__search-bar header__search-bar--icon" href="{{ search_link }}">
                <span class="visually-hidden header__search-bar-label">{{ search_label }}</span>
                <div aria-hidden="true" class="header__search-svg"></div>
              </a>
            </div>
          {% endif %}
          <button class="header__menu" aria-expanded="false" aria-controls="navigation">
            <span class="visually-hidden">{{ menu_label }}</span>
            <div class="header__menu-symbol" aria-hidden="true"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="header__navigation">
    <nav class="header__links header__links--mobile header__links--{{ english ? "english" : "welsh" }}" aria-label="Secondary Menu">
      <div class="header__links-wrapper">
        <div class="header__links-item">
          <a href="{{ contact_link }}" class="header__links-anchor header__links-anchor--contact">{{ contact_label }}</a>
        </div>
        <div class="header__links-item">
          <a href="{{ report_link }}" class="header__links-anchor header__links-anchor--report">{{ report_label }}</a>
        </div>
      </div>
      <div class="header__links-item header__links-item--right">
        <a href="{{ ratings_link }}" class="header__links-anchor header__links-anchor--ratings" target="_blank">{{ ratings_label }}</a>
      </div>
    </nav>
    <div class="header__navigation">
      {% include '@components/components/general/Navigation/navigation.html.twig' with {
        id: 'navigation',
        label: 'Main navigation',
        homeLink: '#',
        homeLabel: 'Home',
        links: [
          {
            link: {
            href:'#',
            label: 'News and alerts',
            active: 'false',
          },
            submenu: [
            {
              title: 'Latest updates',
              readMoreLink: '#',
              readMoreLabel: 'See more Latest Updates',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'News',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food alerts',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Subscribe to food and alerts',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'FSA blog',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'RSS feeds',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Open policy making',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Consultations',
                active: 'false',
              },
              },
            ],
            },
          ],
          },
          {
            link: {
            href:'#',
            label: 'Food safety and Hygiene',
            active: 'true',
          },
            submenu: [
            {
              title: 'At home',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cooking your food',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Chilling',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cleaning',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cross-contamination',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Home food fact checker',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Buying and eating food',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Allergy and intolerance',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Report a food allergic reaction',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Best before and use-by dates',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food hygience rating',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food safety for comminity cooking and food banks',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food crime',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Advice for young adults with a food allergy',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Food poisoning',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Campylobacter',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Salmonella',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Hepatits E virus',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'E. Coli',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Food safety advice',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cannabidiol (CBD)',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Norovirus',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Raw drinking milk',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Acrylamide',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Radioactivity in food',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Additives',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Arsenic in rice',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Burgers',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Fake alcohol',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Nutrition (Northern Ireland)',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Check the label',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'The Eatwell Guide',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Folic acid',
                active: 'false',
              },
              },
            ],
            },
          ],
          },
          {
            link: {
            href:'#',
            label: 'Business Guidance',
            active: 'true',
          },
            submenu: [
            {
              title: 'At home',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cooking your food',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Chilling',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cleaning',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cross-contamination',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Home food fact checker',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Buying and eating food',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Allergy and intolerance',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Report a food allergic reaction',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Best before and use-by dates',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food hygience rating',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food safety for comminity cooking and food banks',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food crime',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Advice for young adults with a food allergy',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Food poisoning',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Campylobacter',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Salmonella',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Hepatits E virus',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'E. Coli',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Food safety advice',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cannabidiol (CBD)',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Norovirus',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Raw drinking milk',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Acrylamide',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Radioactivity in food',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Additives',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Arsenic in rice',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Burgers',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Fake alcohol',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Nutrition (Northern Ireland)',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Check the label',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'The Eatwell Guide',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Folic acid',
                active: 'false',
              },
              },
            ],
            },
          ],
          },
          {
            link: {
            href:'#',
            label: 'About us',
            active: 'true',
          },
            submenu: [
            {
              title: 'At home',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cooking your food',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Chilling',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cleaning',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cross-contamination',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Home food fact checker',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Buying and eating food',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Allergy and intolerance',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Report a food allergic reaction',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Best before and use-by dates',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food hygience rating',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food safety for comminity cooking and food banks',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Food crime',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Advice for young adults with a food allergy',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Food poisoning',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Campylobacter',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Salmonella',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Hepatits E virus',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'E. Coli',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Food safety advice',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Cannabidiol (CBD)',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Norovirus',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Raw drinking milk',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Acrylamide',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Radioactivity in food',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Additives',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Arsenic in rice',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Burgers',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Fake alcohol',
                active: 'false',
              },
              },
            ],
            },
            {
              title: 'Nutrition (Northern Ireland)',
              links: [
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Check the label',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'The Eatwell Guide',
                active: 'false',
              },
              },
              {
                link: {
                type: 'link',
                href: '#',
                label: 'Folic acid',
                active: 'false',
              },
              },
            ],
            },
          ],
          },
        ],
      } %}
    </div>
    <nav class="header__languages header__languages--mobile" aria-label="Language switcher" aria-hidden="true">
      <ul class="header__languages-list">
        <li class="header__language">
          <a href="{{ english_link }}" class="header__language-link header__language-link--{{ english ? "selected" : "" }}">{{ english_label }}</a>
        </li>
        <li class="header__language">
          <a href="{{ welsh_link }}" class="header__language-link header__language-link--{{ not english ? "selected" : "" }}">{{ welsh_label }}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
