<div class='listing-item'>
  <div class='listing-item__content'>
    <h3 class='listing-item__type'>{{ type }}</h3>
    <h3 class='listing-item__title'>
      <a href={{ url }}>{{ title }}</a>
    </h3>
    <p class='listing-item__description'>{{ description }}</p>
    <span class='listing-item__date'>{{ date }}</span>
  </div>
</div>