<div class="phone-field {{ error ? " phone-field--error" : " " }}">
  <label class="phone-field__label" for="phone-field__input--{{ name }}">
    <span class="phone-field__title">{{ label }}</span>
    <span class="phone-field__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
  </label>
  <div class="phone-field__content">
    {% if prefix is defined and prefix is not empty %}
      <span class="phone-field__prefix">{{ prefix }}</span>
    {% endif %}
    {% if description %}
      <input {{ required ? required : "" }} type="tel" class="phone-field__input" name={{ name }} id="phone-field__input--{{ name }}" aria-describedby="phone-field__description--{{ name }}">
    {% else %}
      <input {{ required ? required : "" }} type="tel" class="phone-field__input" name={{ name }} id="phone-field__input--{{ name }}">
    {% endif %}
  </div>
  {% if description %}
    <p class="phone-field__description" id="phone-field__description--{{ name }}">{{ description }}</p>
  {% endif %}
</div>
