<div class='search-no-results'>
  <div class='search-no-results__content'>
    <h5 class='search-no-results__title'>{{ title }}</h5>
    <p class='search-no-results__text'>{{ removeFiltersText }} <a href={{ removeFiltersLink }}>{{ removeFiltersLinkText}} </a>.</p>
    <p class='search-no-results__text'>{{ foodHygieneRatingText }} <a href={{ removeFiltersLink }}>{{ foodHygieneRatingLinkText }}</a>. </p>
  </div>
</div>