<div class='search-no-results'>
  <div class='search-no-results__content'>
    <h5 class='search-no-results__title'>{{ title }}</h5>
    <p class='search-no-results__text'>{{ keywordText }} <a href={{ removeFiltersLink }}>{{ keywordLinkText}} </a>.</p>
    <p class='search-no-results__text'>{{ secondText }} <a href={{ foodHygieneRating }}>{{ secondLinkText }}</a>. </p>
  </div>
</div>