{% if background_colour == 'green' %}
  {% set theme = ' hero__theme--green' %}
  {% set cta_type = 'secondary' %}
{% elseif background_colour == 'blue' %}
  {% set theme = ' hero__theme--blue' %}
  {% set cta_type = 'secondary' %}
{% elseif background_colour == 'grey' %}
  {% set theme = ' hero__theme--grey' %}
  {% set cta_type = 'primary' %}
{% else %}
  {% set theme = ' hero__theme--green' %}
  {% set cta_type = 'secondary' %}
{% endif %}

{% if columns %}
  {% if columns == 2 %}
    {% set service_type = 'half' %}
  {% else %}
    {% set service_type = 'full' %}
  {% endif %}
{% endif %}

{% if services|length > 0 %}
  {% if (columns == 2 and services|length <= 2) or (columns == 3 and services|length <= 3) or (columns == 4 and services|length <= 4) %}
    {% set rows = 1 %}
  {% else %}
    {% set rows = 2 %}
  {% endif %}
{% endif %}

{# Check that campaign_block is set before hiding hero #}
{% if campaign_block.has_hero is defined %}
  {% set show_hero = campaign_block.has_hero %}
{% else %}
  {% set show_hero = 1 %}
{% endif %}

<section class="hero {{ type }}{{ service_type ? ' hero--services-' ~ service_type : '' }}">
  <div class="hero__mask-wrapper{{ theme }}{{ campaign_block ? " hero__mask-wrapper--campaign-block" : "" }}{{ show_hero  ? "" : " hero__mask-wrapper--hide-hero" }}">
    <div class="hero__container">
      <div class="hero__row">
        <div class="hero__content-wrapper{{ rows ? ' hero__content-wrapper--' ~ rows ~ '-service-rows': ''}}">
          <div class="hero__content{{ theme }}">
            <div class="hero__text-content">
              <h1 class="hero__title">{{ title }}</h1>
              <p class="hero__description">{{ content }}</p>
              {% if ctas|length > 0 %}
                <div class="hero__cta-wrapper">
                  {% for cta in ctas %}
                    <div class="hero__cta">
                      {% include '@components/components/general/Button/button.html.twig' with {
                        type: cta_type,
                        url: cta.link,
                        label: cta.name,
                        element: 'link',
                      } %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if image and not campaign_block %}
    <div class="hero__image">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 200 200" xml:space="preserve">
            <defs>
              <circle id="circle" cx="100" cy="100" r="100"/>
            </defs>
        <clipPath>
          <use xlink:href="#circle" overflow="visible"></use>
        </clipPath>
        <g clip-path="url(#clip)">
          <image overflow="visible" href="{{ image.url }}" height="100%" width="100%"
                  preserveAspectRatio="xMidYMid slice"></image>
        </g>
      </svg>
    </div>
  {% endif %}
  {% if services %}
    <div class="hero__services{{ columns ? ' hero__services--' ~ columns ~ '-columns' }}{{ rows ? ' hero__services--' ~ rows ~ '-rows' }}{{ image ? ' hero__services--with-image' : '' }}">
      <div class="hero__services__wrapper{{ columns ? ' hero__services__wrapper--' ~ columns ~ '-columns' }}">
        {% include '@components/components/landing/ServiceLinks/serviceLinks.html.twig' with {
          title: NULL,
          links: services,
          columns: columns,
        } %}
      </div>
    </div>
  {% endif %}
  {#  Prioritise services #}
  {% if campaign_block and not services %}
    <div class="hero__campaign-block{{ campaign_block.has_hero ? " hero__campaign-block--has-hero" : "" }}">
      {% include '@components/components/landing/CampaignBlock/campaignBlock.html.twig' with {
        title: campaign_block.title,
        description: campaign_block.description,
        cta: campaign_block.cta,
        image: image,
        has_hero: campaign_block.has_hero,
      } %}
    </div>
  {% endif %}
</section>