{% if background_colour == 'green' %}
  {% set theme = ' hero__theme--green' %}
  {% set cta_type = 'secondary' %}
{% elseif background_colour == 'blue' %}
  {% set theme = ' hero__theme--blue' %}
  {% set cta_type = 'secondary' %}
{% elseif background_colour == 'grey' %}
  {% set theme = ' hero__theme--grey' %}
  {% set cta_type = 'primary' %}
{% else %}
  {% set theme = ' hero__theme--green' %}
  {% set cta_type = 'secondary' %}
{% endif %}

{% if columns %}
  {% if columns == 2 %}
    {% set service_type = 'half' %}
  {% else %}
    {% set service_type = 'full' %}
  {% endif %}
{% endif %}

{% if services|length > 0 %}
  {% if (columns == 2 and services|length <= 2) or (columns == 3 and services|length <= 3) or (columns == 4 and services|length <= 4) %}
    {% set rows = 1 %}
  {% else %}
    {% set rows = 2 %}
  {% endif %}
{% endif %}

<section class="hero {{ type }}{{ service_type ? ' hero--services-' ~ service_type : '' }}">
  <div class="hero__mask-wrapper{{ theme }}">
    <div class="hero__container">
      <div class="hero__row">
        <div class="hero__content-wrapper{{ rows ? ' hero__content-wrapper--' ~ rows ~ '-service-rows': ''}}">
          <div class="hero__content{{ theme }}">
            <div class="hero__text-content">
              <h1 class="hero__title">{{ title }}</h1>
              <p class="hero__description">{{ content }}</p>
              {% if ctas|length > 0 %}
                <div class="hero__cta-wrapper">
                  {% for cta in ctas %}
                    <div class="hero__cta">
                      {% include '@components/components/general/Button/button.html.twig' with {
                        type: cta_type,
                        url: cta.link,
                        label: cta.name,
                        element: 'link',
                      } %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if image %}
    <div class="hero__image">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 200 200" xml:space="preserve">
            <defs>
              <circle id="circle" cx="100" cy="100" r="100"/>
            </defs>
        <clipPath id="clip">
          <use xlink:href="#circle" overflow="visible"></use>
        </clipPath>
        <g clip-path="url(#clip)">
          <image overflow="visible" href="{{ image.url }}" height="100%" width="100%"
                  preserveAspectRatio="xMidYMid slice"></image>
        </g>
      </svg>
    </div>
  {% endif %}
  {% if services %}
    <div class="hero__services{{ columns ? ' hero__services--' ~ columns ~ '-columns' }}{{ rows ? ' hero__services--' ~ rows ~ '-rows' }}{{ image ? ' hero__services--with-image' : '' }}">
      <div class="hero__services__wrapper{{ columns ? ' hero__services__wrapper--' ~ columns ~ '-columns' }}">
        {% include '@components/components/landing/ServiceLinks/serviceLinks.html.twig' with {
          title: NULL,
          links: services,
          columns: columns,
        } %}
      </div>
    </div>
  {% endif %}
</section>