<div class="pdf-and-print-buttons">
  <div class="pdf-and-print-buttons__button pdf-and-print-buttons__button--pdf">
    <a href="{{ multipage_guide_pdf_link ? multipage_guide_pdf_link : pdf_link }}">
      <div class="pdf-and-print-buttons__text-wrapper">
        {% if multipage_guide %}
          {{ view_entire_guide }}<span class="visually-hidden">({{ new_window }})</span>
        {% else %}
          {{ view }}<span class="visually-hidden"> {{ pdf_name }}</span> {{ as }} {{ pdf }}<span
            class="visually-hidden">({{ new_window }})</span>
        {% endif %}
      </div>
    </a>
  </div>
  <div class="pdf-and-print-buttons__button pdf-and-print-buttons__button--print">
    {% if multipage_guide %}
      <a href="{{ multipage_guide_print_link }}">
        <div class="pdf-and-print-buttons__text-wrapper">
          {{ print_guide }}<span class="visually-hidden">({{ new_window }})</span>
        </div>
      </a>
    {% else %}
      <button>
        <div class="pdf-and-print-buttons__text-wrapper">
          {{ print_this_page }}
        </div>
      </button>
    {% endif %}
  </div>
</div>