<div class="breadcrumb {{ expanded ? "expanded" : "collapsed" }} {{ subscription is defined ? (subscription.is_logged_in ? "login" : "logout") : "full" }}">
  <div class="breadcrumb__left">
    <p class="breadcrumb__label visually-hidden">Breadcrumb</p>
    <div class="breadcrumb__items">
      {% for item in items %}
        <div class="breadcrumb__item">
          {% if item.url %}
            <a href="{{ item.url }}" class="breadcrumb__link">{{ item.text }}</a>
          {% else %}
            <span>{{ item.text }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <a href="#" class="breadcrumb__mobile-overlay" aria-expanded="{{ expanded ? 'true' : 'false' }}">
      <span class="visually-hidden">Expand breadcrumb navigation</span>
    </a>
  </div>
  {% if subscription is defined %}
    <div class="breadcrumb__right">
      {% if subscription.is_logged_in %}
        <a href="{{ subscription.subscription_link }}" class="breadcrumb__link">{{ subscription.subscription_label }}</a> |
        <a href="{{ subscription.log_out_link }}" class="breadcrumb__link">{{ subscription.log_out_label }}</a>
      {% else %}
        <span class="breadcrumb__label">{{ subscription.logged_out_label }}</span>
        {% include '@components/components/general/Button/button.html.twig' with { 
          type: 'primary',
          label: subscription.logged_out_button_label,
          url: subscription.logged_out_button_link,
          is_anchor: true,
          element: 'link' 
        } %}
      {% endif %}
    </div>
  {% endif %}
</div>
