{% set days = [] %}
{% for d in range(1, 31) %}
  {% set days = days|merge([d]) %}
{% endfor %}

{% set months = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December',
] %}

{% set years = [] %}
{% for y in range(start_year ? start_year : 2000 ,'now'| date('Y')) %}
  {% set years = years|merge([y]) %}
{% endfor %}

<div class="datepicker" data-type="{{ type }}">
  <div class="datepicker__label">
    {{ label }}
  </div>
  <div class="datepicker__select-wrapper">
    <div class="datepicker__select">
      <label class="datepicker__select__label" for="{{ type|lower }} day">
        Day
      </label>
      <select class="datepicker__select__button" name="Day" id="{{ type|lower }} day" defaultValue="none">
        <option value="none" disabled></option>
        {% for day in days %}
          <option value="{{ loop.index }}" data-option-value="{{ day }}">{{ day }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="datepicker__select">
      <label class="datepicker__select__label" for="{{ type|lower }} month">
        Month
      </label>
      <select class="datepicker__select__button" name="Month" id="{{ type|lower }} month" defaultValue="none">
        <option value="none" disabled></option>
        {% for month in months %}
          <option value="{{ loop.index }}" data-option-value="{{ month }}">{{ month }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="datepicker__select">
      <label class="datepicker__select__label" for="{{ type|lower }} year">
        Year
      </label>
      <select class="datepicker__select__button" name="Year" id="{{ type|lower }} year" defaultValue="none">
        <option value="none" disabled></option>
        {% for year in years %}
          <option value="{{ year }}" data-option-value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="datepicker__apply-wrapper">
    <a href="{{ apply_link }}" class="datepicker__apply-button">
      {{ apply_label }}
    </a>
  </div>
  <div class="datepicker__error-message datepicker__error-message--minimum-selection">
    {{ minimum_selection }}
  </div>
  <div class="datepicker__error-message datepicker__error-message--invalid-dates">
    {{ invalid_date }}
  </div>
</div>