<nav class="table-of-contents" aria-label="{{ title|replace({" ": "-"})|lower }}">
  <div class="table-of-contents__title">
    <h2 class="table-of-contents__title--heading">{{ title|upper }}</h2>
    <button class="table-of-contents__title--button" aria-expanded="false">
      {{ title|upper }}
      <span class="table-of-contents__arrow"></span>
    </button>
  </div>
  <ol class="table-of-contents__list">
    {% for link in links %}
      <li class="table-of-contents__list-item">
        <a href="{{ link.href }}" class="table-of-contents__link">{{ link.label }}</a>
      </li>
    {% endfor %}
  </ol>
</nav>