{% set spaceless_title = {{ title|replace({" ": ""}) }} %}
<div class="accordion">
  <h6 class="accordion__title" id="accordion__title--{{ spaceless_title }}">{{ title }}</h6>
  <p class="accordion__description" id="accordion__description--{{ spaceless_title }}">{{ description }}</p>
  <div class="accordion__fields" aria-labelledby="accordion__title--{{ spaceless_title }}" aria-describedby="accordion__description--{{ spaceless_title }}">
    {% for field in fields %}
      <div class="accordion__field">
        <input class="accordion__input" type="checkbox" id="{{ field.id }}">
        <label class="accordion__label" for="{{ field.id }}">{{ field.label }}</label>
      </div>
    {% endfor %}
  </div>
</div>
