<div class="promo-group">
  <h2 class="promo-group__main-heading">{{ title }}</h2>
  <div class="promo-group__grid-container">
    <div class="promo-group__grid-row">
      {% for card in cards %}
        <div class="promo-group__card-wrapper">
          <div class="promo-group__card {{ card.promo_link is defined ? "promo-group__card--one-link" : "promo-group__card--multiple-links" }}">
            {% if card.image %}
              <div class="promo-group__background" style="background-image: url('{{ card.image }}')"></div>
            {% endif %}
            <h3 class="promo-group__sub-heading">
              {% if card.promo_link is defined %}
                <a class="promo-group__title-link" href="{{ card.promo_link }}">{{ card.title }}</a>
              {% else %}
                {{ card.title }}
              {% endif %}
            </h3>
            {% if card.description is defined %}
              <p class="promo-group__description">{{ card.description }}</p>
            {% endif %}
            {% if card.link_list is defined %}
              <ul class="promo-group__list">
                {% for link in card.link_list %}
                  <li class="promo-group__list-item">
                    <a class="promo-group__list-link" href="{{ link.url }}">{{ link.label }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
