{% set is_promo_block = promo_link is defined and link_list is defined and link_list.length > 0 %}
<div class="promo-group">
  <h3 class="promo-group__heading">
    {% if is_promo_block %}
      <a href="promo-group__title-link" href="{{ promo__link }}">{{ title }}</a>
    {% else %}
      {{ title }}
    {% endif %}
  </h3>
  {% if description is defined %}
    <p class="promo-group__description">{{ description }}</p>
  {% endif %}
  {% if not is_promo_block %}
    <ul class="promo-group__list">
      {% for link in link_list %}
        <li class="promo-group__list-item">
          <a class="promo-group__list-link" href="{{ link.url }}">{{ link.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
