<div class="revision-log revision-log--open" id="revision-log" role="complementary">
  <div class="revision-log__control">
    <div class="revision-log__heading">
      {{ heading }}
    </div>
    <div class="revision-log__toggle">
      <button class="revision-log__toggle-button revision-log__toggle-button-hide" aria-hidden="false">{{ toggle_text_hide }}</button>
      <button class="revision-log__toggle-button revision-log__toggle-button-show" aria-hidden="true">{{ toggle_text_show }}</button>
    </div>
  </div>
  <div  class="revision-log__dates">
    <p>{{ published_label }}: {{ published }}</p>
    <p>{{ last_updated_label }}: {{ last_updated }}</p>
  </div>
  {% if logs %}
  <ul class="revision-log__link-list" aria-hidden="false">
    {% for log in logs %}
      <li class="revision-log__link-list__item" id="fn:{{ log.key }}">
        <strong class="revision-log__link-list__item-date">{{ log.date }}</strong>
        <span  class="revision-log__link-list__item-text">{{ log.text }}</span>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
