{% set is_label_defined = label is defined and label is not empty %}
{% set is_required = required is defined and required %}
{% set is_frozen_steps = frozen_steps is defined and frozen_steps %}
{% set first_item_template = first_item_template is defined and first_item_template ? first_item_template : template %}

<div class="multifield-group{{ is_required ? " multifield-group--required" : "" }}{{ is_frozen_steps ? " multifield-group--frozen-steps" : "" }}" id="{{ id }}" data-items="{{ items }}">
  <div class="multifield-group__template">
    <div class="multifield-group__item">
      {{ is_label_defined ? "<h2>" ~ label ~ "</h2>" : "" }}
      <div class="multifield-group__delete-item{{ is_label_defined == false ? " multifield-group__delete-item--no-label" : "" }}">
        <a href="#">{{ remove_this }} {{ entity_name|lower }}</a>
      </div>
      <div class="multifield-group__form multifield-group__form--first-item">
        {{ first_item_template|replace({'id="': 'id="_', 'aria-describedby="': 'aria-describedby="_'}) }}
      </div>
      <div class="multifield-group__form multifield-group__form--other-items">
        {{ template }}
      </div>
    </div>
  </div>
  <div class="multifield-group__add-item">
    {% include "@components/components/general/Button/button.html.twig" with {
      element: 'button',
      type: 'primary',
      label: add_another ~ " " ~ entity_name,
      id: 'multistep-group_button-step-' ~ id
    } %}
  </div>
</div>
