{% set is_required = required is defined and required %}
{% set is_frozen_steps = frozen_steps is defined and frozen_steps %}

<div class="multifield-group{{ is_required ? " multifield-group--required" : "" }}{{ is_frozen_steps ? " multifield-group--frozen-steps" : "" }}" id="{{ id }}" data-items='{{ items|json_encode() }}'>
  <div class="multifield-group__template">
    <div class="multifield-group__item">
      <h2>{{ label }}</h2>
      <div class="multifield-group__delete-item">
        <a href="#">{{ remove_this }} {{ entity_name|lower }}</a>
      </div>
      <div class="multifield-group__form">
        {{ template }}
      </div>
    </div>
  </div>
  <div class="multifield-group__add-item">
    {% include "@components/components/general/Button/button.html.twig" with {
      element: 'button',
      type: 'primary',
      label: add_another ~ " " ~ entity_name,
      id: 'multistep-group_button-step' ~ step_number
    } %}
  </div>
</div>
