<div class="textarea textarea--{{ error ? " error" : " " }}">
  <label class="textarea__label" for="textarea-{{ name }}">{{ label }}
    <span class="textarea__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
  </label>
  {% if description is defined %}
    <p class="textarea__description">{{ description }}</p>
  {% endif %}
  <textarea name={{ name }} id="textarea-{{ name }}" cols="30" rows={{ rows is defined ? rows : "" }} {{ required ? "required" : "" }}></textarea>
</div>
