{% set label_id = "textarea-label-" ~ name %}
{% set desc_id = "textarea-desc-" ~ name %}
<div class="textarea textarea--{{ error ? "error" : "" }}">
  <label class="textarea__label" for={{ label_id }}>{{ label }}
    <span class="textarea__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
  </label>
  {% if description is defined %}
    <p class="textarea__description" id={{ desc_id }}>{{ description }}</p>
  {% endif %}
  <textarea name={{ name }} id={{ label_id }} cols="30" rows={{ rows is defined ? rows : "5" }} {{ required ? "required" : "" }} {{ description is defined ? "aria-describedby=" ~ desc_id : "" }}></textarea>
</div>
