{% set spaceless_name = name|replace({" ": ""}) %}
{% set desc_id = spaceless_name %}
{% set desc_is_defined = description is defined %}
<div class="textarea{{ error ?  " textarea--error" : "" }}">
  <label class="textarea__label" for="{{ id }}">
    <span class="textarea__label-content">{{ label }}</span>
    <span class="textarea__required">{{ required ? "(" ~ required ~ ")" : "" }}</span>
  </label>
  {% if desc_is_defined %}
    <p class="textarea__description" id="{{ desc_id }}">{{ description }}</p>
  {% endif %}
  <textarea class="textarea__field textarea__field--{{ desc_is_defined ? "with-desc" : "" }}" name="{{ name }}" id="{{ id }}" rows="{{ rows is defined ? rows : "5" }} {{ required ? "required" : "" }}" {{ desc_is_defined ? "aria-describedby='" ~ desc_id : "'" }}>{{ value }}</textarea>
</div>
