<div class="email-field">
  <h5 class="email-field__title">{{ title }}</h5>
  <div class="email-field__content">
    <p class="email-field__address">
      <span class="email-field__label">{{ email_label }}</span>
      <a href="{{ email_link }}" class="email-field__link">{{ email_address }}</a>
    </p>
    <a href="{{ change_email_link }}" class="email-field__change">{{ change_email_label }}</a>
  </div>
</div>
